[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]

[dev-packages]
pre-commit = "*"
black = "*"
nbconvert = "*"
jupyter = "*"

[scripts]
cleanup = "pipenv run bash scripts/cleanup.sh"
